<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title} </title>
	link
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="/css/ihover.css">
	<link rel="stylesheet" type="text/css" href="/css/liuj.css">

	script:src
	<script type="/js/jquery-2.0.0.js"></script>
	<script type="/js/bootstrap.js"></script>

	<meta name="description" content=" {{page.abstract}}">	

</head>
<body>

<<div name="this is nav">
	

</div>

<div name="this is header">
	
	{% if page.header == "main" %}
	{% include main_header.html %}
    

</div>

<div name="this is content">
	

</div>

<div name="this is footer">
	

</div>


</body>
</html>